name = "AbstractPPL"
uuid = "7a57a42e-76ec-4ea3-a279-07e840d6d9cf"
keywords = ["probablistic programming"]
license = "MIT"
desc = "Common interfaces for probabilistic programming"
version = "0.14.1"

[deps]
AbstractMCMC = "80f14c24-f653-4e6a-9b94-39d6b0f70001"
Accessors = "7d9f7c33-5ae7-4f3b-8dc6-eff91059b697"
BangBang = "198e06fe-97b7-11e9-32a5-e1d131e6ad66"
DensityInterface = "b429d917-457f-4dbc-8f4c-0cc954292b1d"
JSON = "682c06a0-de6a-54ab-a142-c8b1cf79cde6"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MacroTools = "1914dd2f-81c6-5fcd-8719-6d5c9610ff09"
OrderedCollections = "bac558e1-5e72-5ebc-8fee-abe8a469f55d"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[weakdeps]
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"

[extensions]
AbstractPPLDistributionsExt = ["Distributions", "LinearAlgebra"]

[compat]
AbstractMCMC = "2, 3, 4, 5"
Accessors = "0.1"
BangBang = "0.4"
DensityInterface = "0.4"
Distributions = "0.25"
JSON = "0.19 - 0.21, 1"
LinearAlgebra = "<0.0.1, 1"
MacroTools = "0.5"
OrderedCollections = "1.8.1"
Random = "1.6"
StatsBase = "0.32, 0.33, 0.34"
julia = "1.10.8"
